@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700&display=swap");
/**********************

****    GENERAL   ****

*********************/
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --select-border: rgb(51, 173, 255);
  --select-focus: blue;
  --select-arrow: var(--select-border);
}
body {
  align-items: center;
  display: flex;
  height: 100vh;
  font-family: "Heebo", sans-serif;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  color: #fff;
  background: #efefef;
  transition: background 0.7s linear;
}
.container {
  max-width: 602px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
body.green-background {
  background-color: #2de51f;
  pointer-events: none;
}
.container.red-background {
  background-color: lightcoral;
  pointer-events: none;
}
ul#keyboard {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  display: flex;
  font-size: 5rem;
  background: blanchedalmond;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 104px;
  border: 8px solid;
  border-radius: 8px;
  margin: 0.5rem;
  cursor: pointer;
  transition: background 0.5s linear;
  box-shadow: inset 0 0 5px #000000;
  text-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
li:hover {
  background-color: rgb(255, 214, 235);
}
li:active {
  transform: scale(0.98);
}
div#top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
button.start-game {
  outline: none;
  background-image: url(./pics/820.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: none;
  border: none;
  color: white;
  height: 124px;
  width: 345px;
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-radius: 8px;
  transition: transform 0.7s ease-in-out;
}
button.start-game:hover {
  transform: translateY(-8px);
}
select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
select::-ms-expand {
  display: none;
}
.select {
  align-items: center;
  display: grid;
  grid-template-areas: "select";
  width: 250px;
  border: 1px solid var(--select-border);
  border-radius: 8px;
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
  justify-content: space-evenly;
  cursor: pointer;
  margin: 0 auto;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.select::after {
  content: "";
  width: 0.8rem;
  height: 0.5rem;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: flex-end;
}
/* .select::before {
  content: "";
  width: 0.8rem;
  height: 0.5rem;
} */
select,
.select:after,
.select:before {
  grid-area: select;
}
select:focus {
  border: none;
  outline: none;
}
li.replay {
  flex: 1;
  font-size: 1.7rem;
  color: crimson;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  border-color: transparent transparent transparent crimson;
  cursor: pointer;
  border-style: dashed;
  border-width: 37px 0 37px 60px;
  box-shadow: none;
}
.mover {
  animation: mover 0.7s forwards alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: translateY(7px);
  }
}
.red {
  color: #ff0000;
}
.orange {
  color: #ffa500;
}
.crimson {
  color: crimson;
}
.deeppink {
  color: deeppink;
}
.yellow {
  color: #bfbf08;
}
.deepskyblue {
  color: deepskyblue;
}
.green {
  color: #008000;
}
.cornflowerblue {
  color: cornflowerblue;
}
.blue {
  color: #0000ff;
}
.brown {
  color: brown;
}
.purple {
  color: #4b0082;
}

.vaiolet {
  color: #ee82ee;
}
.black {
  color: #000;
}
.white {
  color: #fff;
}
